<section class="us" id="about-us">
    <h2 class="us__title">About us</h2>
    
        <load src="/partials/pmembers.html" 
        name="Elena Guzman" 
        desc="Soy diseñadora apasionada con un amor innato por la creatividad y la expresión artística. Mi mente está constantemente en búsqueda de inspiración, captando detalles estéticos que luego fusiono con mis propias ideas para crear algo único. La moda y el diseño no solo son mi profesión, sino también parte integral de mi identidad." 
        img="./images/women_1.jpeg" 
        twitter="https://twitter.com/"
        linkedin="https://www.linkedin.com"
        github="https://github.com"
        mail="#"
        />

        <load src="/partials/pmembers.html" 
        name="Paloma Rivero" 
        desc="Soy artista, una exploradora incansable del mundo de las emociones y las ideas plasmadas en formas visuales. Mi vida está imbuida de creatividad, y mi mente es un lienzo donde las posibilidades son infinitas. Cada día es una nueva aventura, una oportunidad para dar vida a pensamientos abstractos y sentimientos profundos a través de mi arte." 
        img="./images/women_2.jpeg" 
        twitter="https://twitter.com/"
        linkedin="https://www.linkedin.com"
        github="https://github.com"
        mail="#"
        />

        <load src="/partials/pmembers.html"
        name="Carlota Ruiz" 
        desc="Soy arquitecta, una constructora de sueños y creadora de espacios que cuentan historias. Mi mundo está lleno de líneas, planos y estructuras, donde cada diseño es una manifestación de mi pasión por fusionar la funcionalidad con la estética. Desde los rascacielos que tocan el cielo hasta los pequeños detalles que dan vida a un hogar, cada proyecto es una oportunidad de dar forma a la realidad." 
        img="./images/women_3.jpeg"
        twitter="https://twitter.com/"
        linkedin="https://www.linkedin.com"
        github="https://github.com"
        mail="#"
        />

        <load src="/partials/pmembers.html" 
        name="Almudena Martin" 
        desc="Soy doctora, una guardiana de la salud y defensora de la vida. Mi jornada transcurre entre el conocimiento científico y la empatía humana, buscando constantemente mejorar la calidad de vida de mis pacientes. Mi vocación va más allá de la ciencia; es un compromiso con el bienestar físico y emocional de quienes confían en mí para guiarlos a través de la complejidad del cuidado de la salud." 
        img="./images/women_4.jpeg"
        twitter="https://twitter.com/"
        linkedin="https://www.linkedin.com"
        github="https://github.com"
        mail="#"
        />
</section>