<section class="boxfortalezas">
  <div class="square"></div>  
  <div class="boxfortalezas__div">
      <h3>Strengths</h3>
      <p>Among the strengths of the team, it is worth mentioning that for knowing each other for such a short time, we have worked in a very enriching way, each contributing empathy, communication, understanding and a lot of listening.
        This has led us to carry out our project in an organized, committed and coordinated manner, but above all with a very positive attitude towards the challenge of each project.</p>
  </div>
  <div class="boxfortalezas__div">
      <h3>Weaknesses</h3>
      <p>As for the weaknesses we face as a team, it should be noted that the speed with which new project proposals are generated sometimes does not allow us to devote the time we believe appropriate to deepen each task. However, thanks to the organization of the team, we manage to overcome any inconvenience or setback that may arise and complete the work within the estimated time.</p>
  </div>
</section>


